# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=CHANGETHISTOKEN
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

TIMEZONE=

BLACKFIRE_CLIENT_ID=1
BLACKFIRE_CLIENT_TOKEN=1
BLACKFIRE_SERVER_ID=1
BLACKFIRE_SERVER_TOKEN=1

PAGESPEED_ENABLE=on